$bodyBackground: #e4ebf2;

$barBackground: #247dbd;

$Font-color: #e8f1f8;

$mainFont: #444444;

$folderColor: #336699;

$buttonBackground: #13b272;

$upDownArrowBackground: #dbe7f3;

$upDownArrowColor: #3a3e63;

$LRArrowbackground: #f5f5f5;

$chart-pie: #3a3e63;
